<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Spring Security - OAuth 2.0 Login</title>
<meta charset="utf-8" />
</head>
<body>
	<div style="float: right" th:fragment="logout"
		sec:authorize="isAuthenticated()">
		<div style="float: left">
			<span style="font-weight: bold">User: </span><span
				sec:authentication="name"></span>
		</div>
		<div style="float: none">&nbsp;</div>
		<div style="float: right">
			<form action="#" th:action="@{/logout}" method="post">
				<input type="submit" value="Logout" />
			</form>
		</div>
	</div>
	<h1>OAuth 2.0 Login with Spring Security</h1>
	<div>
		You are successfully logged in <span style="font-weight: bold"
			th:text="${userName}"></span> via the OAuth 2.0 Client <span
			style="font-weight: bold" th:text="${clientName}"></span>
	</div>
	<div>&nbsp;</div>
	<div>
		<span style="font-weight: bold">User Attributes:</span>
		<ul>
			<li th:each="userAttribute : ${userAttributes}"><span
				style="font-weight: bold" th:text="${userAttribute.key}"></span>: <span
				th:text="${userAttribute.value}"></span></li>
		</ul>
	</div>
</body>
</html>